.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los posts dentro del contenedor */
  padding: 90px;
}
.comments {
  max-height: 300px;  /* Altura máxima para el contenedor de comentarios */
  overflow-y: auto;   /* Activar el scroll cuando los comentarios excedan la altura */
  margin-top: 10px;
}

.comments-container {
  padding: 10px;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.comment p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Contenedor para los botones eliminar y editar */
.delete-edit-container {
  display: flex;
  gap: 10px;
}

/* Estilo para el botón de eliminar (color rojo) */
.btn-trash {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-trash:hover {
  background-color: #d32f2f;
}

/* Estilo para el botón de editar (color verde) */
.btn-edit {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-edit:hover {
  background-color: #388e3c;
}

.comment span {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
}

.comment span:first-child {
  font-weight: bold;
}


.comment {
  display: flex;
  justify-content: space-between; /* Esto coloca el contenido del comentario y el botón en extremos opuestos */
  align-items: center; /* Alinea verticalmente el contenido */
}

.btn-delete-comment {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete-comment:hover {
  background-color: darkred;
}



.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  padding: 10px;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%; /* Puedes ajustar el ancho según tus necesidades */
}


button {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;  /* Añadir espacio entre los posts */
  padding: 15px;        /* Añadir espacio dentro de cada post */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;     /* Limitar el ancho de los posts a 700px para hacerlo más delgado */
  width: 100%;          /* Asegurarse de que los posts ocupen el ancho disponible hasta el límite */
  margin-left: auto;
  margin-right: auto;   /* Centrar los posts en la página */
  overflow: hidden;  /* Evita que el contenido se desborde */
  word-wrap: break-word;  /* Rompe las palabras largas */
  word-break: break-word;
}


/*  /* Rompe palabras largas 
  word-wrap: break-word; /* Compatibilidad adicional 
  word-break: break-word; /* Compatibilidad adicional 
  overflow: hidden; /* Oculta contenido desbordado 
  text-overflow: ellipsis; /* Muestra "..." si el contenido es demasiado largo 
  max-height: 150px; /* Ajusta según lo necesario 
  line-height: 1.5; /* Espaciado entre líneas 
  display: -webkit-box; /* Requiere el siguiente estilo para limitar líneas 
  -webkit-line-clamp: 6; /* Número máximo de líneas 
  -webkit-box-orient: vertical; /* Necesario para -webkit-line-clamp 

*/
.liked {
  color: red; /* O cualquier color que desees para cuando el like esté activado */
}

.post h3 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post p {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
  color: #777;
}

.like-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btn-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #4f46e5;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 90px;
  height: 40px;
}

.btn-label:hover {
  background-color: #ffc107  ;
  transform: translateY(-2px);
}

.svgs {
  width: 20px;
  height: 20px;
  fill: white;
  transition: transform 0.2s ease;
}

.btn-label:hover .svgs {
  transform: scale(1.1);
}

.separator {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 10px 0 20px;
}

.btn-labelC {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #4f46e5;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 5px;
  box-shadow: none;
  transition: color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  width: 135px;
  height: 40px;
}

.btn-labelC:hover {
  color: #2b2b2b;
  transform: scale(1.1);
}

.buttons-container {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
}

.btn-trash {
  max-width: 55px;
  background-color: firebrick;
}

.btn-trash:hover {
  background-color: darkred;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los botones a la derecha */
  width: 100%; /* La caja de texto ocupa todo el ancho del contenedor */
}

.comment-section textarea {
  width: 100%; /* La caja de texto ocupa todo el espacio disponible */
  height: 80px; /* Ajusta la altura del textarea */

  padding: 10px;
  margin-bottom: 10px; /* Espacio entre la caja de texto y los botones */
  border-radius: 6px;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  border: 1px solid #ccc;
  resize: vertical; /* Permite que el usuario ajuste la altura si lo desea */
}


.comment-section button {
  margin-top: 5px; /* Espacio entre los botones */
  padding: 10px 16px;
  border: none;
  background-color: #4f46e5; /* Color similar al del botón Like */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center; /* Asegura que el texto esté centrado */
}

.comment-section button:hover {
  background-color: #3b3a94; /* Tonalidad más oscura cuando el botón es hover */
}


.post-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.post-content {
  font-size: 0.9rem;
  color: #333;
}

.toggle-content {
  font-size: 0.8rem;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Asegura que las imágenes en post.content sean responsivas y no excedan el tamaño del contenedor */
.post p img {
  max-width: 50%; /* Limita el ancho al 100% del contenedor */
  height: auto;    /* Mantiene la proporción de la imagen */
  display: block;  /* Evita que las imágenes se comporten como inline elements */
  margin: 0 auto;  /* Centra la imagen en el contenedor */
}

.read-more-toggle {
  font-style: italic;
  color: #007BFF;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}

.read-more-toggle:hover {
  color: #0056b3;
  text-decoration: none;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
}

.liked {
  color: #ffffff; /* Puedes cambiarlo a cualquier color que prefieras */
}

.btn-label.liked {
  background-color: #ff6347 ; /* Puedes darle un fondo de color cuando sea 'likeado' */
}

.svgs.liked {
  fill: white; /* Puedes cambiar el color del ícono si lo prefieres */
}


/* Contenedor de botones eliminar y editar en los comentarios */
.comment-actions {
  display: flex;
  gap: 10px;
}

/* Estilo para el botón de eliminar comentario (rojo) */
.btn-delete-comment {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
}

.btn-delete-comment:hover {
  background-color: #d32f2f;
}

/* Estilo para el botón de editar comentario (verde) */
.btn-edit-comment {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
}

.btn-edit-comment:hover {
  background-color: #388e3c;
}
